{
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 120,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.json",
      "options": { "printWidth": 200 }
    }
  ]
}
